<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--service配置-->
    <bean id="pushBindService" class="com.teradata.pushserver.service.BDPushBindService"/><!--推送绑定相关业务逻辑-->
    <bean id="pushMessageService" class="com.teradata.pushserver.service.BDPushMessageService"/><!--推送消息相关业务逻辑-->
    <bean id="pushService" class="com.teradata.pushserver.service.BDPushService"/><!--推送相关业务逻辑-->


    <!--dao配置-->
    <bean id="pushBindDao" class="com.teradata.pushserver.dao.BDPushBindDao"/>
    <bean id="pushMessageDao" class="com.teradata.pushserver.dao.BDPushMessageDao"/>

    <!----><bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="com.ncr.teradata.TeraDriver" />
        <property name="url" value="jdbc:teradata://10.248.15.15/CLIENT_CHARSET=cp936,TMODE=TERA,CHARSET=ASCII,DATABASE=DWPPARA" />
        <property name="username" value="dwap" />
        <property name="password" value="Xtj23i1tpyT" />
        <property name="poolMaximumActiveConnections" value="10" />
        <property name="poolMaximumIdleConnections" value="5" />
    </bean>
     <!--<bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
         <property name="driver" value="com.mysql.jdbc.Driver" />
         <property name="url" value="jdbc:mysql://localhost:3307/dwttemp" />
         <property name="username" value="root" />
         <property name="password" value="Liusp2014" />
         <property name="poolMaximumActiveConnections" value="1" />
         <property name="poolMaximumIdleConnections" value="1" />
     </bean>-->

     <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描mapping.xml文件 -->
        <property name="mapperLocations" value="classpath:mybatis/sqlmaps/*.xml"></property>

    </bean>

    <!-- 配置transactionManager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>